Django==1.6.2
MySQL-python==1.2.5
South==0.8.4
amqp==1.4.4
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.16
celery==3.1.9
django-bootstrap3==3.1.0
gunicorn==18.0
kombu==3.0.13
pytz==2013.9
redis==2.9.1
wsgiref==0.1.2
